p {
    padding: 10px 20px 10px 20px;
    /* trbl */
    padding: 10px 20px 10px;
    /* top right+left bottom */

    padding: 10px 20px;
    /* vertical/ horizontal */

    /* border: 5px solid gold; */

    margin: 20px;
    padding: 0;
}