.box:nth-of-type(1) {
    width: 200px;
    height: 200px;
    /* linear gradient */
    background: linear-gradient(45deg, dodgerblue, yellow, tomato);
    margin-bottom: 10px
}

.box:nth-of-type(2) {
    width: 200px;
    height: 200px;
    /* radial gradient */
    background: radial-gradient(white, yellow);
    margin-bottom: 15px;
}

.box:nth-of-type(3) {
    width: 600px;
    height: 200px;
    /* radial gradient with circle inside */
    background: rgb(187, 24, 170);
    background: linear-gradient(35deg, rgba(187, 24, 170, 1) 0%, rgba(221, 222, 24, 1) 90%);

}