<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <article class="tweet">
      <div class="avatar"></div>
      <p>Lorem ipsum dolor sit amet.</p>
      <!-- <p class="clear">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate
        sapiente unde quos officia aperiam repellat dicta quas. Culpa illum
        consequuntur, soluta molestias vel porro, deleniti numquam totam
        quibusdam sit praesentium commodi, maxime nisi ullam cupiditate
        architecto eligendi enim consequatur maiores doloribus ipsa harum. Ut
        quasi illum labore libero nihil pariatur!
      </p> -->
    </article>
  </body>
</html>
