<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <div class="box">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos debitis
      accusantium illum aliquid minima iste libero quod! Ad, ex cumque, eaque
      doloribus minima cupiditate quo repellendus expedita repudiandae aut illo
      ipsam exercitationem, molestiae explicabo quod saepe iure quasi eum. At
      sint numquam rerum quis modi est harum, sit eaque dolor?
    </div>
  </body>
</html>
