body {
    margin: 10px;
    height: 200vh;
}


.boxes {
    border: 3px solid lightgrey;
    position: relative;
}

.box {
    width: 5rem;
    /* 80px */
    height: 5rem;
    /* 80px */
}

.box-one {
    background-color: gold;
}

.box-two {
    background-color: tomato;
    /* BOX STAY ON THE TOP */
    position: fixed;
    top: 0;
    z-index: 1;
    left: 2rem;
    right: 2rem;
    width: auto;




    /* ABSOLUTE POSITIONING */
    /* position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1; */


    /* RELATIVE POSITIONING */
    /* position: relative; */
    /* left: 4rem; */
    /* right: 4rem; */
    /* the same as left property -4em */
    /* top: 2rem; */
    /* bottom: 4rem; */
    /* add space from the bottom */

}

.box-three {
    background-color: dodgerblue;
}